

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    backdrop-filter: blur(50px);
    z-index: -1;
}

.navbar::after{
    content: '';
    position: absolute;
    top: 0;
    left: -90%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .3s ease;
}

.navbar:hover::after{
    left: 100%;
}

.navbar .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem 5%;
    
}

.navbar .nav-container .menu-icon{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}

.navbar .nav-container #check-box{
    display: none;
}

.navbar .nav-container #logo{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

.nav-container .nav-items{
    display: flex;
    list-style: none;
}

.nav-items .nav-item a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
}

.nav-items .nav-item .cart-badge{
    background-color: rgb(18, 238, 18);
    padding: .2rem .5rem;
    border-radius: .5rem;
    outline: none;
    border: none;
}

.messages{
    padding-top: 5rem; 
    color: blueviolet;
}

.message{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 255, 102); 
    padding: .1rem 1rem; 
    border-radius: .5rem;
    margin: .5rem;

}

.message button{
    border: none;
    background-color:rgb(0, 255, 102);
    padding: 0;
    cursor: pointer;
}

.message button span{
    font-size: 1.5rem;
    color: blueviolet;
}

.item-list{
    padding: 1rem;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 350px;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 
                0 6px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.card a{
    text-decoration: none;
}

.card .card-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-header img{
    width: 90%;
    height: 150px;
    margin: 5px 0 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.card .card-footer{
    display: flex;
    gap: 1rem;
}

.card .card-footer a{
    background-color: blueviolet;
    width: 100%;
    padding: .5rem;
    border-radius: .2rem;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.card .card-footer a:hover{
    padding: .6rem;
}

.cart-container {
    padding: 0rem 10%;
    overflow-x: auto;
}

.cart-container .cart-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: blueviolet;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem;
}

.cart-header .cart-total-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header .cart-total-items h1{
    color: #fff;
}

.cart-header .cart-total-items .items{
    color: #fff;
    font-size: 1.2rem;
}

.cart-total-span{
    background-color: rgb(18, 238, 18);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.cart-header .cart-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.cart-header .cart-link a, .cart-small-screen .cart-link a{
    background-color: rgb(18, 238, 18);
    width: 50%;
    padding: .5rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: .2rem;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.cart-small-screen{
    background-color: blueviolet;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    display: none;
}

.cart-small-screen .cart-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.cart-small-screen .cart-link a{
    width: 100%;
}

.cart-container .cart-body{
    background-color: blueviolet;
    padding: 1rem;
    border-radius: .5rem;
    overflow: auto;
}


table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
    color: #fff;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #4c4949;
}

.fa-solid.fa-minus{
    color: red;
    margin: 0 .2rem;
    cursor: pointer;
}
.fa-solid.fa-plus{
    color: rgb(18, 238, 18);
    margin: 0 .2rem;
    cursor: pointer;
}

.checkout{
    background-color: blueviolet;
    margin: 0rem 5%;
    border-radius: .5rem;
}

.checkout .header{
    padding: 0.5rem 1rem;
    color: #fff; 
    border-bottom: 1px solid #fff; 
}

.checkout .body{
    display: flex;
    justify-content: space-evenly;
}

.checkout .body .form{
    /* border-left: 1px solid #fff; */
    color: #fff;
}


.checkout .body .user-data h3, .checkout .body .shipping-info h3{
   color: #fff;
   text-align: center;
}
.checkout .body .user-data .name-email{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    gap: 1rem;
    padding: 0.2rem .5rem;
}

.checkout .body .user-data .name-email .form-fields{
    display: flex;
    flex-direction: column;
}

.checkout .body .shipping-info .town-city{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding: 0 .5rem;
   
}

.checkout .body .shipping-info .town-city input{
    margin-bottom: .5rem;
}

.checkout .body .shipping-info .country-zip-code{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #fff;
    padding: 0 .5rem;
    gap: 1rem;
}

.checkout .body .shipping-info .save-use{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.checkout .body .shipping-info .save-use .save .form-fields,
.checkout .body .shipping-info .save-use .use-default .form-fields
{
   display: flex;
   align-items: center;
   gap: 1rem;
}

.checkout .body .shipping-info .save .form-fields input,
.checkout .body .shipping-info .use-default input{
    margin: 0;
}


.checkout .body .payment-options-div{
    margin-top: .5rem;
    padding: 0 5rem;
    display: none;
    border-bottom: 1px solid #fff;
    
}

.checkout .body .payment-options{
    margin-top: .5rem;
}

.checkout .body .payment-options .form-fields input{
    margin: 0;
}

.checkout .body .payment-options .form-fields{
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.checkout .body .cart{
   padding: 1rem;
   background-color: #f4f4f4;
}

.checkout .body .cart .header-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout .body .cart .header-cart .number_of_items{
    background-color: rgb(0, 255, 128);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.checkout .body .cart .items{
    border: 1px solid blueviolet;
    border-radius: .5rem;
    padding: 1rem;
    
    
}

.checkout .body .cart .items .total{
    border: 1px solid blueviolet;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
}

.checkout .body .cart .items .item{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid blueviolet;
 
}

.checkout .body .cart .coupon{
    border: 1px solid blueviolet;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.checkout .body .cart .coupon .coupon-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.checkout .body .cart .coupon .coupon-form button{
    margin-top: .8rem;
    padding: .8rem;
    border: 2px solid blueviolet;
    border-radius: .5rem;
    cursor: pointer;
}

.checkout .body .cart .coupon .coupon-form button:hover{
    padding: .9rem;
}

.checkout input, select{
    width: 100%;
    padding: .8rem;
    border: none;
    border-radius: .5rem;
    outline: none;
    margin-top: .8rem;
}

.checkout .body .proceed-btn button{
    padding: 1rem 5rem;
    
}
.checkout .body .pay-btn{
    display: none;
    
}

.checkout .body .btn{
    margin-top: .8rem;
    width: 100%;
    font-size: 18px;
    border-radius: .5rem;
    cursor: pointer;
    padding: .5rem 0;
    border: none;
    color: #fff;
    margin-bottom: 1rem;
    background-color: rgb(20, 245, 20);
}

.checkout .body .form button:hover{
    border: solid #fff 1px;
    /*background-color: #fff;*/
    
}

.paypal{
    margin: 5rem auto;
    border: blueviolet solid 1px;
    border-radius: 1rem;
    display: flex;
    width: 800px;
    height: 50vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.paypal .paypal-body{
    width: 600px;
    align-items: center;
}



@media (max-width: 992px) {
    .navbar .nav-container{
        padding: 1rem 5%;
    }
}

@media (max-width: 768px) {
    .navbar .nav-container .menu-icon{
        display: inline-flex;
    }

    #check-box:checked~.menu-icon #menu-icon{
        display: none;
    }

    .navbar .nav-container .menu-icon #close-icon{
        display: none;
    }

    #check-box:checked~.menu-icon #close-icon{
        display: block;
    }
    

    .nav-container .nav-items{
        position: absolute;
        top: 65%;
        left: 0;
        width: 100%;
        height: 0;
        /* background-color: rgba(0,0,0,.5); */
        background-color: blueviolet;
        backdrop-filter: blur(50px);
        flex-direction: column;
        overflow: hidden;
        padding: 0;
        transition: .3s ease;
        
        /* box-shadow: 0.5rem 1rem rgba(0,0,0,.1); */
    }

    #check-box:checked~.nav-items{
        height: fit-content;
    }

    .nav-items .nav-item a{
        margin: 1.5rem 0;
        display: block;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        transition-delay: calc(.15s * var(--i));
        opacity: 0;

    }

    #check-box:checked~.nav-items a{
        transform: translateY(0);
        opacity: 1;
    }

    .cart-container {
        padding: 0rem 5%;
    }

    .cart-header .cart-total-items {
        flex-direction: column;
    }
    .cart-header .cart-link {
        display: none;
        flex-direction: column;
        gap: 1rem;
    }

    .cart-header .cart-link a {
        width: 100%;
    }
    .cart-small-screen{
        display: block;
    }

    .checkout .body{
        flex-direction: column;
    }

    .checkout .body .form {
        margin: 1rem;
    }

    .payment-options-div{
        width: 350px;
    }
    .checkout .body .payment-options-div {
        padding: 0;
    }


    .card {
        width: 300px;
    }
    .card .card-footer a {
        padding: .8rem;
    }

    .checkout .body .user-data .name-email {
        flex-direction: column;
    }
    .checkout .body .shipping-info .town-city {
        flex-direction: column;
    }
    .checkout .body .shipping-info .country-zip-code {
        padding: .5rem;
        flex-direction: column;
    }
    .checkout .body .proceed-btn button {
        padding: 1rem;
    }

    .checkout .body .cart .coupon .coupon-form {
        gap: .5rem;
        flex-direction: column;
    }

    .coupon-form .form-fields{
        width: 100%;
    }
    .coupon-submit{
        width: 100%;
    }

    .checkout .body .cart .coupon .coupon-form button {
        width: 100%;
    }

    .paypal {
        width: 100%;
    }

    .paypal .paypal-body {
        width: 90%;
    }
}

