<tr>
    <th scope="row">{{forloop.counter}}</th>
    <td><img src="{{item.item.get_image_url}}" width='30px' class="cart-card-img-top" alt=""></td>
    <td>{{item.item.name}}</td>
    <td>${{item.item.price}}</td>
    <td class="cart-quantity">
        <div>
            <i data-item_id={{item.item.id}} data-action="remove" class="fa-solid fa-minus update-cart"></i>
            {{item.quantity}}
            <i data-item_id={{item.item.id}} data-action="add" class="fa-solid fa-plus update-cart"></i>
        </div>
    </td>
    <td>${{item.get_price}}</td>
    </tr>