<div class="card">
    <div class="card-header">
        <img class="view-item" data-item_id={{item.id}} data-action="view" src="{{item.get_thumbnail_url}}" alt=""/> 
    </div>
    <div class="card-body">
        <p>Name: <span>{{ item.name }}</span></p>
        {% if item.discount%}
        <p>Price: ${{ item.item_price }} </p>
        <p>Discount: {{ item.discount }}%</p>
        {% else %}
        <p>Price: ${{ item.item_price }}</p>
        {% endif %}
    </div>
    <div class="card-footer">
        <a class="update-cart" data-item_id={{item.id}} data-action="add">Add to Cart</a>
        <a class="view-item" data-item_id={{item.id}} data-action="view">view</a>
    </div>
</div>