{% extends "emu/base.html" %}
{% load static %}
{%block title%}|About{% endblock %}
{% block content %}
<div class="login-sign-up-form about">
    <p>Murstech is a software development organization with 4 years
        building robust and scalable web applications. We specialize in Django Development, creating 
        seamless user experience and efficient backend systems. We deliver high quality solutions that
        perfectly fits our clients' needs, whether a feature enhancement or a new web application.
    </p>
</div>
{% endblock %}