{% extends "emu/base.html" %}
{% load static %}
{%block title%}|Checkout{% endblock %}
{% block content %}

<div class="checkout">
    <div class="header">
        <h1>Your Checkout</h1>
    </div>
    <div class="body">
        <form class="form" action="." id="checkout-form">
            {% csrf_token %}
            <div class="user-shipping-info">
                <div class="user-data" id="user-data">
                    <h3>Personal Details</h3>
                    <div class="name-email">
                        <div class="form-fields">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" placeholder="Name" autofocus>
                        </div>
                        <div class="form-fields">
                            <label for="email">Email Address</label>
                            <input type="email" id="email" name="email" placeholder="Email address">
                        </div>
                    </div>
                  

                </div>
                <div class="shipping-info" id="shipping-info">
                    <h3>Shipping Address</h3>
                    <div class="town-city" id="towm_city">
                        <div class="form-fields">
                            <label for="town">Town</label>
                            <input type="text" id="town" name="town" placeholder="Town">
                        </div>
                        <div class="form-fields">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" placeholder="City">
                        </div>
                    </div>
                    <div class="country-zip-code" id="country_zip_code">
                        <div class="country">
                            <label>Country</label>
                            {{form.country}}

                        </div>
                        <div class="zip-code">
                            <label for="zip-code">Zip Code</label>
                            <input type="text" id="zip-code" name="zip_code" placeholder="1234">
                        </div>

                    </div>
                    <div class="save-use">
                        <div class="save" id="save_div">
                            <div class="form-fields">
                                <input type="checkbox" id="save" name="save">
                                <label for="save">Save Address</label>
                            </div>

                        </div>
                        {% if default_address %}

                        <div class="use-default" id="use_default_div">
                            <div class="form-fields">
                                <input type="checkbox" id="use_default" name="use_default">
                                <label for="use_default">Use Default Address - {{default_address.town}}</label>
                            </div>
                        </div>
                        {% endif %}
                    </div>


                </div>
                <div class="payment-options-div" id="payment-options-div">
                    <h3>Select Payment Method</h3>
                    {% for value, name in form.fields.payment_option.choices %}
                    <div class="payment-options">
                        <div class="form-fields">
                            <input type="radio" id="{{name}}" name="payment_option" value="{{value}}">
                            <label for="{{name}}">{{name}}</label>
                        </div>

                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="proceed-btn" id="proceed-btn">
                <button type="submit" class="btn">Proceed to Pay</button>
            </div>
            <div class="pay-btn" id="pay-btn">
                <button type="submit" class="btn">Continue</button>
            </div>

        </form>

        <div class="cart">
            <div class="header-cart">
                <h3 class="title">Your cart</h3>
                <h3 class="number_of_items">{{order.get_cart_items}}</h3>
            </div>

            <div class="items">
                <div id="authorised">
                    {% for item in order.items.all %}
                    <div class="item">
                        <div class="quantity-name">
                            <h4>{{item.quantity}} x {{item.item.name}}</h4>
                            <small>{{item.item.description}}</small>
                        </div>
                        <div class="price">
                            <h4>${{item.get_price}}</h4>
                        </div>
                    </div>
                    {% endfor%}
                </div>
                {% if is_guest %}
                <div id="not-authorised">
                    {% for item in order.items %}
                    <div class="item">
                        <div class="quantity-name">
                            <h4>{{item.quantity}} x {{item.item.name}}</h4>
                            <small>{{item.item.description}}</small>
                        </div>
                        <div class="price">
                            <h4>${{item.get_price}}</h4>
                        </div>
                    </div>
                    {% endfor%}
                </div>
                {% endif %}
              
                
                {% if order.coupon %}
                <div class="">
                    <p class="">Coupon Amount: (${{order.coupon.amount}})</p>
                </div>

                {% endif%}

                <h3 class="total">Total: ${{order.get_total}}</h3>
            </div>
            {% if DISPLAY_COUPON_FORM %}
            <div class="coupon">
                <form class="coupon-form" action="{% url 'emu:add-coupon' %}" method="post">
                    {% csrf_token %}
                    <div class="form-fields">
                        <label for="code"></label>
                        <input type="text" id="code" name="code" placeholder="Promotion code" required>
                    </div>
                    <div class="coupon-submit">
                        <button type="submit">Redeem</button>
                    </div>

                </form>
            </div>
            {% endif %}

        </div>
    </div>

</div>
<script>
    const userData = document.getElementById("user-data");
    const shippingInfo = document.getElementById("shipping-info");
    const paymentDiv = document.getElementById("payment-options-div");
    const proceedBtn = document.getElementById('proceed-btn');
    const payBtn = document.getElementById('pay-btn');
    const checkoutForm = document.getElementById("checkout-form")
    const saveDefault = document.getElementById("save")
    const useDefault = document.getElementById("use_default")
    console.log(useDefault)

    if (saveDefault){
        saveDefault.addEventListener('change', ()=>{
            if (saveDefault.checked){
                document.getElementById('use_default_div').innerHTML = ''
            }
        })
    }

    if (useDefault){
        useDefault.addEventListener('change', ()=>{
            document.getElementById("save_div").innerHTML = '';
            //shippingInfo.innerHTML = ''
            //document.getElementById("towm_city").innerHTML = '';
            //document.getElementById("country_zip_code").innerHTML = '';
        })
    }

    let shipping = '{{order.for_shipping}}'
    let total = '{{order.get_total}}'
    if(shipping == 'False'){
        console.log("shipping")
        shippingInfo.innerHTML = '';
    }

    if(user != 'AnonymousUser'){
        userData.innerHTML = ''
    }

    if(user != 'AnonymousUser' && shipping == 'False'){
        //checkoutForm.style.display = 'none';
        shippingInfo.innerHTML = '';
    }

    csrftoken = checkoutForm.getElementsByTagName("input")[0].value;
    proceedBtn.addEventListener('click',()=>{
        paymentDiv.style.display = 'block';
        payBtn.style.display = 'flex';
        shippingInfo.style.display='none';
        userData.style.display = 'none';
        proceedBtn.style.display = 'none';
    })

    payBtn.addEventListener('click', ()=>{
        checkoutData()
    })
    
    checkoutForm.addEventListener('submit',(e)=>{
        e.preventDefault()
        console.log("Submitting data...")
        //checkoutData()
    })



    const checkoutData = ()=>{
        let userInfo = {
            'name': null,
            'email': null,
            'total': total,
        }

        let shippingInfo={
            'town': null,
            'city': null,
            'zipCode': null,
            'country': null,
            'save': null,
            'useDefault': null,
            
        }
        let paymentOption = checkoutForm.payment_option.value
        if(shipping != 'False'){
            shippingInfo.town = checkoutForm.town.value
            shippingInfo.city = checkoutForm.city.value
            shippingInfo.zipCode = checkoutForm.zip_code.value
            shippingInfo.country = checkoutForm.country.value
            if (checkoutForm.save){
                shippingInfo.save = checkoutForm.save.checked
            }
            
            if(checkoutForm.use_default){
                shippingInfo.useDefault = checkoutForm.use_default.checked
            }
            
        }

        if(user == 'AnonymousUser'){
            userInfo.name = checkoutForm.name.value
            userInfo.email = checkoutForm.email.value
        }

        console.log(userInfo)
        console.log(paymentOption)
        if(checkoutForm.use_default){
            console.log(checkoutForm.use_default)
        }
       
        let url = '/checkout/'
        fetch(url,{
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({"userInfo": userInfo, "shippingInfo": shippingInfo, "paymentOption": paymentOption})
        })
        .then((response)=>{
            return response.json()
        })
        .then((data)=>{
            console.log("Success", data)
            //alert("Transaction completed")
            //cart={}
            //document.cookie= 'cart='+ JSON.stringify(cart) + ';domian=;path=/'
            if (paymentOption === 'M'){
                window.location.href = "{% url 'mpesa:stk-push' %}"
            }
            if (paymentOption === 'P'){
                window.location.href = "{% url 'emu:paypal' %}"
            }
            if (paymentOption === 'S'){
                window.location.href = "{% url 'emu:stripe' %}"
            }
            //window.location.href = "{% url 'emu:item-list' %}"
            
        })
    }
</script>

{% endblock content %}