
:root{
    --radius: .5rem;
    --background-color: blueviolet;
}

*{
    box-sizing: border-box;
}

.mpesa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: var(--radius);
    width: 400px;
    overflow-x: hidden;    
}

.mpesa h1{
    color: #fff;
}

.mpesa img{
    border-radius: var(--radius);
    height: 50%;
    width: 50%;
}

.mpesa form{
    font-size: 20px;
    align-items: center;
}
.mpesa input{
    width: 100%;
    border: none;
    outline: none;
    padding: .5rem 1rem;
    caret-color: var(--background-color);
    border-radius: var(--radius);
}

.mpesa button{
    width: 100%;
    padding: .5rem;
    border-radius: var(--radius);
    border: none;
    font-size: 18px;
    color: var(--background-color);
    cursor: pointer;
}

.mpesa button:hover{
    border: 2px solid var(--background-color);
}

.mpesa #response{
    width: 90%;
    padding: 1rem;
    overflow-x: scroll;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: var(--radius);
    display: none;  
}
