{% extends "emu/base.html" %}
{% load static %}
{%block title%}|Reset Password{% endblock %}
{% block content %}
<div class="center">
	<form method="post" class="login-sign-up-form">
		{% csrf_token %}
	    <h2 class="text-center">Reset Password</h2>
		{% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
		<div class="reset-form-buttons">
			<input type="submit" value="Send" class="btn-submit">
			<a href="{%url 'users:login' %}"  class="btn-submit">Cancel</a>
		</div>
	</form>
	</div>
{% endblock %}