    <p>Dear {{request.user}},</p>
    <p>We received a request to reset the password for your Murstech account. 
        If you did not initiate this request, please contact IT support immediately.</p>p>

    <p>To reset your password, please follow the steps below:</p>
    <p>Click on the link below to initiate the password reset process:</p>
    <p><a href="http://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>


    <p>You will be directed to a secure page where you can enter your new password. If 
        you encounter any issues or have any questions, please reach out to our IT s
        upport team at <a href="{% url 'emu:contact' %}">Contact us</a>>.</p>

    <p>Best regards,</p>
    <p>Support</p>
    <p>Murstech Company</p>

